.container {
  padding: 20px;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-primary);
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.rightFilters {
  display: flex;
  gap: 12px;
  align-items: center;
}
